/*BASE*/

* {
    margin: 0;
    padding: 0;
}


body{

    margin: 0;
    background: #f5f7fa;
    font-family: system-ui, sans-serif;
}

.main{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

/* LAYOUT */

.header{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;

}

.logo{
    margin-bottom: 10px;

}

.intro{
    text-align: center;
}

/* SEARCH */
.search-section{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.primary-controls, .secondary-controls  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}


.search-input{
    width: auto;
    padding: 12px 16px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 1rem;
    text-align: center;

}

.search-button{
  background-color: #f3f4f6;
    font-weight: 600;
    border: 1px solid #d1d5db;

    padding: .5rem 1rem;

    border-radius: 8px;

    cursor: pointer;

    

    transition:
        background-color .2s ease,
        transform .2s ease,
        box-shadow .2s ease;

}

.search-button:hover {
    background-color: #e5e7eb;

    transform: translateY(-2px);

    box-shadow:
        0 4px 12px rgba(0,0,0,.12);
}

.watchlist-button {

    background-color: #eef2ff;
    color: #4338ca;

    font-weight: 600;

    border: 1px solid #c7d2fe;

    padding: .5rem 1rem;

    border-radius: 8px;

    cursor: pointer;

    transition:
        background-color .2s ease,
        transform .2s ease,
        box-shadow .2s ease;
}

.watchlist-button:hover {

    background-color: #e0e7ff;

    transform: translateY(-2px);

    box-shadow:
        0 4px 12px rgba(0,0,0,.12);

}


/* content grids */
.result-content{

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

.home-content{
    
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;

}

/* cards */

.movie-card {

    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 16px;
    border: 1px solid #d1d5db;
    border-radius: 12px;
    gap: 10px;
    transition: transform .2s ease,box-shadow .2s ease;
    box-shadow: 0 2px 8px rgba(0,0,0,.05);
    
}

.movie-card:hover {
    transform: translateY(-4px);

    box-shadow:
        0 10px 24px rgba(0,0,0,.12);
}


.movie-poster {
    width: 340px;
    max-width: 100%;
    
    height: 500px;
   

    object-fit: cover;

    border-radius: 10px;

    box-shadow: 0 8px 20px rgba(0,0,0,.15);
}

/* overlay */
.overlay {

    display: flex;
    position: fixed;
    z-index: 10;
     

    

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.backdrop {
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: rgba(0, 0, 0, 0.6);
}

.modal {
    position: relative;
    z-index: 1;

    background: white;

    width: 600px;
    max-width: 90%;

    padding: 32px;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    gap: 32px;

    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-main {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}


/*modal content*/

.modal-poster {
    width: 180px;
    height: 270px;

    object-fit: cover;

    border-radius: 12px;

    box-shadow:
        0 8px 20px rgba(0,0,0,.2);

    flex-shrink: 0;
}

.movie-meta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.meta-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.meta-group p {
    margin: 0;

    font-size: 1.1rem;

    line-height: 1.5;
}

.modal-plot {
    border-top: 1px solid #d1d5db;

    padding-top: 24px;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.modal-plot h3 {
    margin: 0;
    font-size: 1.5rem;
}

.modal-plot p {
    margin: 0;

    line-height: 1.8;
    font-size: 1.05rem;
}

/* ======================
   COMPONENTS
====================== */

.detail {
    background-color: #f3f4f6;
    font-weight: 600;
    border: 1px solid #d1d5db;

    padding: .5rem 1rem;

    border-radius: 8px;

    cursor: pointer;

    transition:
        background-color .2s ease,
        transform .2s ease,
        box-shadow .2s ease;
}

.detail:hover {
    background-color: #e5e7eb;

    transform: translateY(-2px);

    box-shadow:
        0 4px 12px rgba(0,0,0,.12);
}

.close {
    background-color: #f3f4f6;
    border: 1px solid #d1d5db;

    padding: 0.6rem 1rem;

    border-radius: 8px;

    cursor: pointer;

    font-size: 0.95rem;
    font-weight: 600;

    transition:
        background-color 0.2s ease,
        transform 0.2s ease,
        box-shadow 0.2s ease;
}

.close:hover {
    background-color: #e5e7eb;

    transform: translateY(-2px);

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

.close:active {
    transform: translateY(0);
}

.movie-year {
    color: #6b7280;
    font-size: .95rem;
}

.meta-label {
    font-size: 0.8rem;
    font-weight: 700;

    letter-spacing: 2px;

    color: #6b7280;
}

.selected-title{
    font-size: 1.5rem;
    font-weight: 600;
}



.empty-watchlist{

    text-align: center;
}

.empty-watchlist h2 {
    margin-bottom: .5rem;
}

.empty-watchlist p {
    opacity: .7;
}


/*responsive CSS*/

/* ======================
   TABLET
====================== */

@media (min-width: 700px) {

.primary-controls, .secondary-controls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.overlay {

    display: flex;
    position: fixed;
    z-index: 10;
     

    justify-content: center;
    align-items: center;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

    .search-input{
     width: 450px;
    padding: 12px 16px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 1rem;

}

.result-content{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.home-content{
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

}

.modal {
    position: relative;
    z-index: 1;

    background: white;

    width: 600px;
    max-width: 90%;

    padding: 32px;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    gap: 32px;

    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25);
}

.movie-poster {
    width: 340px;
    max-width: 100%;
    
    height: 500px;
   

    object-fit: cover;

    border-radius: 10px;

    box-shadow: 0 8px 20px rgba(0,0,0,.15);
}

.modal-poster {
    width: 180px;
    height: 270px;

    object-fit: cover;

    border-radius: 12px;

    box-shadow:
        0 8px 20px rgba(0,0,0,.2);

    flex-shrink: 0;
}

}


/* ======================
   DESKTOP
====================== */

@media (min-width: 1024px) {

    .primary-controls, .secondary-controls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.overlay {

    display: flex;
    position: fixed;
    z-index: 10;
     

    justify-content: center;
    align-items: center;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

    .search-input{
     width: 450px;
    padding: 12px 16px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 1rem;

}

.result-content{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.home-content{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

}

.modal {
    position: relative;
    z-index: 1;

    background: white;

    width: 600px;
    max-width: 90%;

    padding: 32px;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    gap: 32px;

    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25);
}

.movie-poster {
    width: 340px;
    max-width: 100%;
    
    height: 500px;
   

    object-fit: cover;

    border-radius: 10px;

    box-shadow: 0 8px 20px rgba(0,0,0,.15);
}

.modal-poster {
    width: 180px;
    height: 270px;

    object-fit: cover;

    border-radius: 12px;

    box-shadow:
        0 8px 20px rgba(0,0,0,.2);

    flex-shrink: 0;
}
}


